.App {
  background: wheat;
  width: 800px;
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 black;
  border: 1px solid black;


}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(120deg, purple, blue);
}


